*{
padding:0px;
margin:0px;
}
html{
 
  box-sizing:border-box;
  height:100vh;

}
body{
  margin:0px;
  height:100vh;
  overflow-x:hidden;
  overflow-y:hidden;
  font-family:Helvetica,Arial, sans-serif ;
}
/*buttons*/
.toggle:focus{
  outline:none;
 border:none;
}

.toggle{
  outline:none;
 border:none;
 display:none;
}
#addButton{
  background-color:#2196F3;
  color:black;
} 
#addButton:hover{
  background-color:#2196F3;
  color:white;
}
/*table*/
th{
  padding:10px;
  border:none;
}
tbody{
  border:none;
}
thead{
  background-color:#2196F3;
  border:none;
}
.table-header{
 display:flex;

}
.search-bar{
  margin-left: auto;
  border-radius: 5px;
margin-right:8px;
}
.search-bar input{
margin:8px;
display:block;
padding:7px;
border-radius: 5px;
}


.tableData .table{
  overflow-y: auto;
  
}
.table{
  overflow-y: auto; 
  width:100%;
  
}
/*layout using grid box*/
.main-container,.wrapper{
 overflow-y:hidden;
 overflow-x:hidden;
 height: 100vh;
}
header{
  background-color: #e9e9e9;
 color:black;
 font-size:18px;
 margin-bottom: 15px;
 
}

/*forall links*/

.topnav {
  display:flex;

  background-color: #e9e9e9;

}


@media (max-width: 768px) {
  .topnav {
    display:flex;
  flex-direction: column;
  }
  .toggle{
    display:block;
  }
  .link{
    display: block;
    width: 100%;
  }
  .tableData{
  
    overflow-y:auto
  }
  table{
    min-width: 1000px;
  }
html,body{
  height:auto;
  overflow-x:hidden;
  overflow-y:auto;
  }
#page-content-wrapper{
  overflow-x:hidden;
  overflow-y:auto;
  min-height:auto;
}
.main-container,.wrapper{
  overflow-x:hidden;
  overflow-y:auto;
  height: auto;
 }

}
/* Style the links inside the navigation bar */
.topnav .link {
 
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}
.logout-link{
  display: block;
  color:white;
  text-align: center;
 
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav .link:hover {
  background-color: #ddd;
  color: black;
}
/* Style the "active" element to highlight the current page */
.topnav .link.active {
  background-color: #1384e0;
  color: white;
}
.current-user{
  margin-left:auto;
  align-self:center;
  padding:10px;
}
.current-user div .logout-link{
  display:block;
 border-radius:0px;
 margin:0px;
 padding:2px 10px;
 background-color:#157ee7;
 color:black;
}





/*dropdown*/
.dropdown{
 
 position:relative;
 
 
}
.dropdown-content{
  position:absolute;
  display:none;
  right:0;
  min-width:9rem;
padding:5px;
background-color: #157ee7;
margin:0;
margin-top:0.7rem;
color:azure;

}
.dropdown:hover .dropdown-content{
  display:flex;
  justify-content: center;
align-items:center;
  color:white;
}

/*login page layout*/

.login{
  display:flex;
 height:100vh;
 width:100%;
background-color: #545c62;
background-size: cover;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif

}
/* background-image: url("../background.jpg"); */
.login-container {
  margin: auto;
 
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;
}


.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer
}
.panel {
  min-height: 450px;
  box-shadow: 5px 5px 10px #27272c;
  background-color:rgba(108, 137, 175, 0.315);
  margin:auto;
  max-width: 380px;
  border-radius:5px;
}

.input-field {
  border-radius: 5px;
  font-size:20px;
background-color: var(--bs-gray-100);
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #23282D
}

input[type='text'],
input[type='password']
 {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  background-color: var(--bs-gray-100);
}

.login-labels{
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(223, 224, 224);

}

.login-button{
  margin-top: 40px;
  border-radius: 5px;
  width:100%;
}
/*Home Screen*/


/*footer */
.footer{
  display:flex;
 position:relative;
 bottom:0;
}
.paginate{
  position:static;
  bottom:0;
  right:0;
}
.records-per-page select{
  padding:8px;
 display:none;
  position:relative;
  bottom:20px;
  left:8px;
  border-radius:5px;
  border:1px solid #1384e0

}


/*pagination*/

.pagination-container{
color:black;
list-style-type: none;
display: inline-block;

}
.pagination-container li{
  float: left;
  }
  .page a{
    padding: 8px 16px;
    display: block;
  }
 a:hover:not(.active),.next a:hover,.previous a:hover{
  
    border-radius: 5px;
   
    background-color: #ddd;
  }

.active{
  background-color: #2196F3;
  color:white;
  border-radius: 4px;
}
.previous a{
  text-decoration: none;
  display:block;
  padding: 8px 8px;
}
.next a{
  text-decoration: none;
  display:block;
  padding: 8px 8px;
}
.disabled{
color:black;
}
/*Home page*/
.home-container{
  height: 90vh;
  flex-direction: column;
  display:flex;
  background-color:#b4b9bd;
}
.first-row{
  border-radius: 5px;
  margin: 6px 6px;
 height:20%;
 display:flex;
 background-color: white;
}
.second-row{
  border-radius: 5px;
  margin: 6px 6px;
  flex:1;
  height:80%;
  display:flex;
}
.first-column{
flex:10;
height: 100%;
border-radius: 5px;
  margin-right:6px;
}
.second-column{
  flex:4;
  height: 100%;
margin-left:6px;

}
.inner-row-two{
  height:20%;
  border-radius: 5px;
  background-color: white;
}
.inner-row-one{
  height:80%;
  border-radius: 5px;
  background-color: white;
}
.first-column .inner-row-one{
margin-bottom:6px;
}
.first-column .inner-row-two{
  margin-top:6px;
}
.second-column .inner-row-two{
  margin-bottom:6px;
  }
  .second-column .inner-row-one{
    margin-top:6px;
  }


/*home first row*/
.first-row .small-block{
flex:1;
display: flex;
flex-direction: column-reverse;
padding:2px;
}
.block-label{
  text-align:center;
  font-size:20px;
  padding:10px;
  border-radius:5px;
}
.tenants{
  background-color: Yellow;
}
.rooms{
  background-color: #006eff;
}
.waitlist{
  background-color: rgb(72, 255, 0);
}
 .employees{
  background-color: rgb(255, 0, 76);
}
.block-text{
text-align:center;
font-size:20px;
flex:1;
display:flex;
align-items: center;
justify-content: center;
}


/*responsiveness*/
@media (max-width: 768px) {
  .first-row{
   height:auto;
   display:flex;
   flex-direction:column;
   flex-wrap: wrap;

  }
  .home-container{
    height: auto;
    flex-direction: column;
    display:flex;
  }
  .second-row{
    flex-direction: column-reverse;
  }
  .piechart{
    height:250px;
    width:100%;
  }

}
@media (max-width: 768px) {
  
}