
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
  }
  body{
  height:100vh;
  overflow-y: hidden;
  }
  /*navigation */
  
  .navbar-container{
    background-color:blue;
    display:flex;
   
  }
  .navbar-container ul{
    display:flex;
    flex-direction:row;
    overflow: hidden;
    
  }
  
  
  
  /*common*/
  ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
   
  }
  ul .link{
    text-decoration: none;
    display:block;
    padding:5px;
    color:azure;
  }
  li{
    padding:0px;
    display:block;
  }
  
  
  
  
  #wrapper {
    overflow-x: hidden;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  @media (min-width: 768px) {
    
  }
  
  th{
    padding:10px;
  }
  thead{
    background-color:#3b4c5d;
  }
  
  .tableData .table{
    max-height: 80vh;
    overflow-y: auto;
  }
  .table{
    overflow-y: auto; 
  }
  .login{
    display:flex;
   height:100vh;
   width:100%;
  background-image: url("../background.jpg");
  background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
  
  }
  .login-container {
    margin: auto;
   
  }
  
  .panel-heading {
    text-align: center;
    margin-bottom: 10px;
  }
  
  
  .form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
  }
  .panel {
    min-height: 450px;
    box-shadow: 5px 5px 10px #23232D;
    background-color:RGBA(35,40,45,0.5);
    margin:auto;
    max-width: 380px;
    border-radius:5px;
  }
  
  .input-field {
    border-radius: 5px;
    font-size:20px;
  background-color: var(--bs-gray-100);
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #23282D
  }
  
  input[type='text'],
  input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    background-color: var(--bs-gray-100);
  }
  
  .login-labels{
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    color:#23282D;
  }
  
  
  @media(max-width: 768px) {
  
    .home-blocks{
      width:100%;
      box-sizing: border-box;
    }
    .row-1{
      height:20vh;
      background-color:white;
      border-radius: 5px;
    }
    .row-2{
      display:flex;
      flex-direction: column;
      width:100%;
      height:70vh;
      border-radius: 5px;
    }
    .row-2-col-1{
      display:flex; 
      flex-direction: column;
      background-color:white;
      border-radius: 5px;
      height:100%;
      width:100%;
    }
    .row-2-col-2{
      display:flex; 
      flex-direction: column;
      background-color:white;
      border-radius: 5px;
      height:100%;
      width:100%;
    }
    
  
  }
  .login-button{
    margin-top: 40px;
    border-radius: 5px;
    width:100%;
  }
  .home-blocks{
    width:100%;
    box-sizing: border-box;
  }
  .row-1{
    height:20vh;
    background-color:white;
    border-radius: 5px;
  }
  .row-2{
    display:flex;
    width:100%;
    height:70vh;
    border-radius: 5px;
  }
  .row-2-col-1{
    display:flex; 
    flex-direction: column;
    background-color:white;
    border-radius: 5px;
    height:100%;
    width:70%;
  }
  .row-2-col-2{
    display:flex; 
    flex-direction: column;
    background-color:white;
    border-radius: 5px;
    height:100%;
    width:30%;
  }
  